<!DOCTYPE html>
<html lang="en">
  <head>
    
      <title>
        客製化個人專頁 ::
        Hello Friend — A simple theme for Hugo
      </title>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="今天花了一下午終於把個人專頁做好，紀錄一下過程下次就不用查半天文件
#新增一個新頁面 hugo new about/index.html  然後在content/about/index.html插入{{ about-me }}並在themes/hello-friend/layouts/shortcodes底下創建about-me.html然後就可以在裡面編輯屬於自己的介紹頁面,相關CSS與JS檔則放在asset底下
Ref https://codepen.io/KaioRocha/pen/orpKxq"
/>
<meta
  name="keywords"
  content=""
/>
<meta name="robots" content="noodp" />
<link rel="canonical" href="/posts/new_post_20220625/" />





<link rel="stylesheet" href="/assets/style.css" />

<link rel="stylesheet" href="/style.css" />


<link
  rel="apple-touch-icon-precomposed"
  sizes="144x144"
  href="/img/apple-touch-icon-144-precomposed.png"
/>
<link rel="shortcut icon" href="/img/favicon.png" />


<link href="/assets/fonts/Inter-Italic.woff2" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="/assets/fonts/Inter-Regular.woff2" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="/assets/fonts/Inter-Medium.woff2" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="/assets/fonts/Inter-MediumItalic.woff2" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="/assets/fonts/Inter-Bold.woff2" rel="preload" type="font/woff2" as="font" crossorigin="">
<link href="/assets/fonts/Inter-BoldItalic.woff2" rel="preload" type="font/woff2" as="font" crossorigin="">


<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="客製化個人專頁"/>
<meta name="twitter:description" content="今天花了一下午終於把個人專頁做好，紀錄一下過程下次就不用查半天文件
#新增一個新頁面 hugo new about/index.html  然後在content/about/index.html插入{{ about-me }}並在themes/hello-friend/layouts/shortcodes底下創建about-me.html然後就可以在裡面編輯屬於自己的介紹頁面,相關CSS與JS檔則放在asset底下
Ref https://codepen.io/KaioRocha/pen/orpKxq"/>



<meta property="og:title" content="客製化個人專頁" />
<meta property="og:description" content="今天花了一下午終於把個人專頁做好，紀錄一下過程下次就不用查半天文件
#新增一個新頁面 hugo new about/index.html  然後在content/about/index.html插入{{ about-me }}並在themes/hello-friend/layouts/shortcodes底下創建about-me.html然後就可以在裡面編輯屬於自己的介紹頁面,相關CSS與JS檔則放在asset底下
Ref https://codepen.io/KaioRocha/pen/orpKxq" />
<meta property="og:type" content="article" />
<meta property="og:url" content="/posts/new_post_20220625/" />
<meta property="article:published_time" content="2022-06-25T05:47:27-07:00" />
<meta property="article:modified_time" content="2022-06-25T05:47:27-07:00" /><meta property="og:site_name" content="Hello Friend" />






  </head>
  <body class="dark-theme">
    <div class="container">
      <header class="header">
  <span class="header__inner">
    <a
  href="/"
  class="logo"
  style="text-decoration: none;"
>
  
    <span class="logo__mark"><svg xmlns="http://www.w3.org/2000/svg" class="greater-icon" viewBox="0 0 44 44">
  <path fill="none" d="M15 8l14.729 14.382L15 35.367" />
</svg>
</span>
    <span class="logo__text"
      >cd ~/workspace</span
    >
    <span class="logo__cursor"></span>
  
</a>

    <span class="header__right">
      
        <nav class="menu">
  <ul class="menu__inner menu__inner--desktop">
    
      
        
          <li><a href="/about">About</a></li>
        
      
        
          <li><a href="/showcase">Showcase</a></li>
        
      
      
      
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    
      
        <li><a href="/about">About</a></li>
      
    
      
        <li><a href="/showcase">Showcase</a></li>
      
    
  </ul>
</nav>

        <span class="menu-trigger">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
          </svg>
        </span>
      
      <span class="theme-toggle">
        <svg
  class="theme-toggler"
  width="24"
  height="24"
  viewBox="0 0 48 48"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M22 41C32.4934 41 41 32.4934 41 22C41 11.5066 32.4934 3 22
  3C11.5066 3 3 11.5066 3 22C3 32.4934 11.5066 41 22 41ZM7 22C7
  13.7157 13.7157 7 22 7V37C13.7157 37 7 30.2843 7 22Z"
  />
</svg>

      </span>
    </span>
  </span>
</header>


      <div class="content">
        
  
  

  <div class="post">
    <h1 class="post-title">客製化個人專頁</h1>
    <div class="post-meta">
      
        <span class="post-date">
          2022-06-25
        </span>

        
          
        
      

      


      
    </div>

    

    

    <div class="post-content">
      
      <p>今天花了一下午終於把個人專頁做好，紀錄一下過程下次就不用查半天文件</p>
<pre><code>#新增一個新頁面
hugo new about/index.html
</code></pre><h5 id="heading"></h5>
<p>然後在content/about/index.html插入{{ about-me }}並在themes/hello-friend/layouts/shortcodes底下創建about-me.html然後就可以在裡面編輯屬於自己的介紹頁面,相關CSS與JS檔則放在asset底下</p>
<p>Ref <a href="https://codepen.io/KaioRocha/pen/orpKxq">https://codepen.io/KaioRocha/pen/orpKxq</a></p>

    </div>
    
      
        <div class="pagination">
          <div class="pagination__title">
            <span class="pagination__title-h"
              >Read other posts</span
            >
            <hr />
          </div>
          <div class="pagination__buttons">
            
              <span class="button previous">
                <a href="/posts/new_post_20220626/">
                  <span class="button__icon">←</span>
                  <span class="button__text">Ansible Web API</span>
                </a>
              </span>
            
            
              <span class="button next">
                <a href="/posts/new_post_20220611/">
                  <span class="button__text">Linux無密碼登入</span>
                  <span class="button__icon">→</span>
                </a>
              </span>
            
          </div>
        </div>
      
    

    
      
        

      
    
  </div>

      </div>

      
        <footer class="footer">
  <div class="footer__inner">
    
      <a
  href="/"
  class="logo"
  style="text-decoration: none;"
>
  
    <span class="logo__mark"><svg xmlns="http://www.w3.org/2000/svg" class="greater-icon" viewBox="0 0 44 44">
  <path fill="none" d="M15 8l14.729 14.382L15 35.367" />
</svg>
</span>
    <span class="logo__text"
      >cd ~/workspace</span
    >
    <span class="logo__cursor"></span>
  
</a>

      <div class="copyright">
        <span
          >© 2022 Powered by
          <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a></span
        >
        <span
          >Theme created by
          <a href="https://twitter.com/panr" target="_blank" rel="noopener">panr</a></span
        >
      </div>
    
  </div>
</footer>

<script src="/assets/main.js"></script>
<script src="/assets/prism.js"></script>


      
    </div>

    
  </body>
</html>
